<div>
  <h3>Login</h3>

  <form (submit)="onLoginSubmit()">
    <div class="input-field">
      <input type="text" [(ngModel)]="username" class="validate" id="username" name="username">
      <label for="username">Username</label>
    </div>
    <div class="input-field">
      <input type="password" [(ngModel)]="password" class="validate" id="password" name="password">
      <label for="password">Password</label>
    </div>
    <div class="input-field">
      <button type="submit" class="btn waves-effect waves-light default">Submit</button>
    </div>
  </form>
</div>