
.default{
	background: #00796B;
}

.alert{
	position: fixed;
	right: 0;
	width: 300px;
	color: #eee;
	padding: 5px 20px;
	margin: 10px 0;
}
.alert-default{
	background: #00796B;
}
.alert-success{
	background: #0079fB;
}
.alert-danger{
	background: #f22;
}
