<div *ngIf="user">
  <div class="row">
    <div class="col s8 offset-s2">
      <div class="card-panel grey lighten-5">
        <h3>Profile</h3>
        <div class="divider"></div>
        <br>
        <form (submit)="changeProfile()">
          <div class="input-field">
            <label class="active">Name</label>
            <input type="text" name="name" [(ngModel)]="user.name" placeholder="Name" autocomplete="off">
          </div>
          <div class="input-field">
            <div class="row">
              <div class="col s2">Email: </div>
              <div class="col s10">{{ user.email }}</div>
            </div>
          </div>
          <div class="input-field">
            <div class="row">
              <div class="col s2">Role: </div>
              <div class="col s10">
                <span *ngIf="user.role == 1">Student</span>
                <span *ngIf="user.role == 2">Teacher</span>
              </div>
            </div>
          </div>
          <div class="input-field">
            <div class="row">
              <div class="col s12 center">
                <button type="submit" class="btn waves-effect waves-light default">Change</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script src="assets/main.js"></script>