<div class="card-panel grey lighten-3 center grey-text text-darken-3">
	<h1>Online Homework</h1>
	<p>A convient way to send/get the homework and keeping all the records of the progess.</p>
	<a class="waves-effect waves-light btn blue darken-2" [routerLink]="['/register']">Register</a>
	<a class="waves-effect waves-light btn teal darken-2" [routerLink]="['/login']">Login</a>
	<br><br>
</div>
<br>
<div class="row">
	<div class="col s4">
		<h5>Specific class and section</h5>
		<p>Get/Post homework class and section wise. Avoid the confusion, you will be selecting your class and then section to make
			things more organized.</p>
	</div>
	<div class="col s4">
		<h5>Get Student lists</h5>
		<p>Get List of all the registered students and track who have viewed the homework and shows the proper interest in which subject.</p>
	</div>
	<div class="col s4">
		<h5>Analitical Charts</h5>
		<p>Get the Chart view for every progress. Total Homework posted, total students, total students showing interests, total subjects
			and more.</p>
	</div>
</div>