<br>
<div class="teal lighten-5 center teal-text text-darken-3">
	<br>
	<h1>MEAN Authentication App</h1>
	<p>Welcome to our custom MEAN Authentication application built from scratch</p>
	<a class="waves-effect waves-light btn blue darken-2" [routerLink]="['/register']">Register</a>
	<a class="waves-effect waves-light btn teal darken-2" [routerLink]="['/login']">Login</a>
	<br>
	<br>
	<br>
</div>
<br>
<div class="row">
	<div class="col s4">
		<h5>Express Backend</h5>
		<p>A rock soild Node.js/Express server using Mongoose to organize models and query the database.</p>
	</div>
	<div class="col s4">
		<h5>Angular-CLI</h5>
		<p>Angular-CLI to generate components, services and more. Local dev server and easy compilation.</p>
	</div>
	<div class="col s4">
		<h5>JWT Tokens</h5>
		<p>Full featired authentication using JSON web tokens. Login and store user data.</p>
	</div>
</div>